<article class="blog-card">
	<section class="d-flex justify-content-between text-white blog-header p-2">
		<h2>Why MVC is so important</h2>
		<h3>Posted by Christy Le on 5/8/2020</h3>
	</section>
	<section>
		<p class="mt-3 p-2">
			MVC allows developers to maintain a true separation of concerns,
			devising their code between the Model layer for Data, the View layer
			for design, and the Controller layer for the application logic.
		</p>
	</section>
</article>

<article class="blog-card">
	<section class="d-flex justify-content-between text-white blog-header p-2">
		<h2>{{name}}</h2>
		<h3>Posted by {{user.email}} on {{date_created}}</h3>
	</section>
	<section>
		<p class="mt-3 p-2">
			{{body}}
		</p>
	</section>
</article>