<section class="title">
				<h1>Viewing blog</h1>
			</section>
		</header>
<main>
	<article class="blog-card">
		<section class="d-flex justify-content-between text-white blog-header p-2">
			<h2>{{name}}</h2>
			<h3>Posted by {{user.username}} on {{date_formatted date_created}}</h3>
		</section>
		<section>
			<p class="mt-3 p-2">
				{{body}}
			</p>
		</section>
	</article>
</main>