<section class="title">
				<h1>Dashboard</h1>
			</section>
		</header>
<article class="login-card">
	<section class="d-flex justify-content-between text-white login-header p-2">
        <h2>Create New Post</h2>
    </section>
    <section class="d-flex flex-column">
        <p id="blog-name" class="mb-0 mt-2 p-2">
            Title
        </p>
        <input class="p-2">
        <p id="blog-body" class="mb-0 mt-2 p-2">
            Content
        </p>
        <input class="p-2">
        <button class="create-btn mb-3 mt-3 p-2 text-white">Create</button>
	</section>
</article>