<section class="title">
				<h1>The Tech Blog</h1>
			</section>
		</header>
<main>
    <article class="login-card">
        <section class="d-flex justify-content-between text-white login-header p-2">
            <h2>Create New Post</h2>
        </section>
        <section class="d-flex flex-column">
            <p class="mb-0 mt-2 p-2">
                Title
            </p>
            <input id="blog-name" class="p-2">
            <p class="mb-0 mt-2 p-2">
                Content
            </p>
            <input id="blog-body" class="p-2">
            <button class="create-btn mb-3 mt-3 p-2 text-white">Create</button>
        </section>
    </article>
</main>