	<section class="title">
			<h1>Dashboard</h1>
	</section>
</header>
<main>
	<article class="user-blog-card">
		<section class="d-flex justify-content-between text-white blog-header p-2">
			<h2>Why MVC is so important</h2>
			<h3>5/8/2020</h3>
		</section>
	</article>
	<button class="create-btn mb-3 mt-3 p-2 text-white" onclick="createBlogHandler(event)">Create New Blog</button>
</main>

<script src="/js/createBlog.js"></script>