<section class="title">
				<h1>The Tech Blog</h1>
			</section>
		</header>
<form class="form">
    <article class="login-card">
        <section class="d-flex justify-content-between text-white login-header p-2">
            <h2>Login</h2>
        </section>
        <section class="d-flex flex-column">
            <p class="mb-0 mt-2 p-2">
                Username
            </p>
            <input class="p-2 form-input" type="username" id="user-login" />
            <p class="mb-0 mt-2 p-2">
                Password
            </p>
            <input class="p-2 form-input" type="password" id="password-login" />
            <button class="login-btn mt-3 p-2 text-white" >Login!</button>
            <label class="mb-2 p-2">
                Sign up instead
            </label>
        </section>
    </article>
</form>

<script src="/js/login.js"></script>