<section class="title">
				<h1>The Tech Blog</h1>
			</section>
		</header>
<form class="login-form block">
    <article class="login-card">
        <section class="d-flex justify-content-between text-white login-header p-2">
            <h2>Login</h2>
        </section>
        <section class="d-flex flex-column">
            <p class="mb-0 mt-2 p-2">
                Username
            </p>
            <input class="p-2 form-input" type="text" id="username-login" />
            <p class="mb-0 mt-2 p-2">
                Password
            </p>
            <input class="p-2 form-input" type="password" id="password-login" />
            {{!-- <button class="login-btn mt-3 p-2 text-white" >Login!</button> --}}
            <input
				type="submit"
				value="Login"
				onclick="loginHandler(event)"
				class="btn btn-outline-success login-btn mt-3 p-2 text-white"
			/>
            <a class="text-dark" onclick="toggleSignupHandler(event)">
                {{!-- <label class="mb-2 p-2"> --}}
                Sign up instead
                {{!-- </label> --}}
            </a>
            
        </section>
    </article>
</form>

<form class="signup-form none">
    <article class="login-card">
        <section class="d-flex justify-content-between text-white login-header p-2">
            <h2>Sign up</h2>
        </section>
        <section class="d-flex flex-column">
            <p class="mb-0 mt-2 p-2">
                Username
            </p>
            <input class="p-2 form-input" type="text" id="username-signup" />
            <p class="mb-0 mt-2 p-2">
                Password
            </p>
            <input class="p-2 form-input" type="password" id="password-signup" />
            <button class="create-btn mt-3 p-2 text-white" onclick="signUpHandler(event)">Sign up!</button>
            <a class="text-dark" onclick="toggleLoginHandler(event)">
                Login instead
            </a>
        </section>
    </article>
</form>

<script src="/js/login.js"></script>