    {{!-- <section class="title">
				<h1>The Tech Blog</h1>
	</section>
</header>
<article class="login-card">
	<section class="d-flex justify-content-between text-white login-header p-2">
		<h2>Sign up</h2>
	</section>
	<section class="d-flex flex-column">
		<p class="mb-0 mt-2 p-2">
			Username
		</p>
		<input class="p-2" />
		<p class="mb-0 mt-2 p-2">
			Password
		</p>
		<input class="p-2" />
		<button class="create-btn mt-3 p-2 text-white">Sign up!</button>
		<label class="mb-2 p-2">
			Login instead
		</label>
	</section>
</article> --}}