:root {
    --soft-black: #252525;
    --light-green: #edffe6;
    --grey: #a3a3a3;
  }

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--light-green);
}

header {
    background-color: var(--soft-black);
    padding: 1% 2%;
}

h1 {
    color: var(--soft-black);
    border-radius: 20px;
    font-weight: 900;
    padding: .5%;
}

h2, h3 {
    margin-bottom: 0;
}

h3 {
    font-size: 1rem;
}

p, label {
    font-size: 1.3rem;
}

a {
    color: var(--light-green);
    margin: 1rem;
    font-size: 1.2rem;
}

input {
    font-size: 1.3rem;
}

input, .login-btn, .update-btn, .submit-btn, .delete-btn {
    margin: 0% 0.5%;
}

.login-btn, .create-btn, .update-btn, .submit-btn, .delete-btn {
    background-color: var(--soft-black);
    border-radius: 10px;
}

.login-btn:hover, .update-btn:hover, .submit-btn:hover, .delete-btn:hover, .create-btn:hover, .user-blog-card:hover {
    opacity: 0.7;
}

.create-btn {
    margin-left: 5%;
}

.title {
    background-color: var(--light-green);
    border-radius: 10px;
    box-shadow: 7px 7px var(--grey);
}

.blog-card, .login-card, .new-post-card, .user-blog-card {
    margin: 2% 5%;
    border-style: solid;
    border-color: var(--soft-black);
    border-width: 3px;
}
.user-blog-card {
    border-radius: 10px;
}

.blog-header, .login-header {
    background-color: var(--soft-black);
}